*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




@keyframes fadeIn {
          from { opacity: 0; transform: translateY(20px); }
          to { opacity: 1; transform: translateY(0); }
        }
        .animate-fade-in {
          animation: fadeIn 1s ease-out;
        }
        @keyframes slideUpFade {
          from { opacity: 0; transform: translateY(20px); }
          to { opacity: 1; transform: translateY(0); }
        }
        .animate-slideUpFade {
          opacity: 0; /* Start hidden until animated */
          animation: slideUpFade 0.6s ease-out forwards;
        }